<?xml version="1.0"?>

<robot name="pill">

  <!-- base_footprint -->
  <link name="base_footprint">
    <visual>
      <origin xyz="0 0 0.106" rpy="1.570796 0 3.141592" />
      <geometry>
        <mesh
          filename="package://pill_description/meshes/base_footprint.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="dark_gray">
        <color rgba="0.2 0.2 0.2 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.570796 0 3.141592"/>
    </collision> 
  </link>

  <!-- base_link -->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="3.141592 0 3.141592" />
      <geometry>
        <mesh
          filename="package://pill_description/meshes/base_link.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="3.141592 0 3.141592"/>
    </collision>
  </link>

  <!-- Joint connecting base_footprint and base_link -->
  <joint name="base_footprint_to_base_link" type="fixed">
    <origin xyz="-0.0735 -0.0274 0.511" rpy="0 0 0" />
    <parent link="base_footprint"/>
    <child link="base_link"/>
  </joint>

  <!-- Laser link -->
  <link name="laser">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 1.570796" />
        <geometry>
          <cylinder length="0.06" radius="0.03"  />
        </geometry>
        <material name="blue">
          <color rgba="0.4 0.8 1.0 1.0"/>
        </material>
      </visual>
  </link>

  <!-- Joint for laser -->
  <joint name="laser_frame" type="fixed">
    <origin xyz="0.0735 0.3 -0.36" rpy="0 3.141592 1.570796" />
    <parent link="base_link"/>
    <child link="laser" />
  </joint>

</robot>
